:root {
  --c-yellow: #ffcf24;
  --c-grey: #e6e6e6;
  --c-grey-transparent: #d1d1d1bd;
  --c-black: #1e1e1e;
  --c-black-transparent: #00000066;
  --c-white: #fcfcfc;

  --ci-primary: var(--c-yellow);
  --ci-secondary: var(--c-grey);
  --ci-tertiary: var(--c-black);
  --ci-alt: var(--c-white);
  --ci-bg-card: var(--c-grey-transparent);
  --ci-bg-modal: var(--c-black-transparent);

  --f-main: "Roboto", sans-serif;
}

body {
  background-color: var(--ci-alt);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--f-main);
  font-size: 20px;
  color: var(--ci-tertiary);
}

header {
  position: fixed;
  top: 0;
  right: 0;
  padding: 40px;
}

h2,
h3 {
  font-weight: 500;
}

button {
  background-color: var(--ci-tertiary);
  margin-right: 32px;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: var(--ci-alt);
  font-size: 20px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

button:disabled {
  background-color: var(--ci-bg-modal);
  cursor: initial;
}

.menu-circle {
  background-color: var(--ci-tertiary);
  z-index: 999999999;
  height: 96px;
  width: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
}

.btn-menu {
  background-color: transparent;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  z-index: 999999999;
}

.btn-menu span {
  background: var(--ci-alt);
  height: 6px;
  display: block;
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  border-radius: 8px;
  transition: background 0s 0.3s;
}

.btn-menu span:before,
.btn-menu span:after {
  background-color: var(--ci-alt);
  height: 6px;
  width: 100%;
  position: absolute;
  display: block;
  border-radius: 8px;
  content: "";
}

.btn-menu span:before {
  top: -14px;
}

.btn-menu span:after {
  bottom: -14px;
}

.btn--htx {
  background-color: transparent;
}

.btn--htx span {
  transition: background 0s 0.3s;
}

.btn--htx span:before,
.btn--htx span:after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.btn--htx span:before {
  transition-property: top, transform;
}

.btn--htx span:after {
  transition-property: bottom, transform;
}

.open-menu .btn--htx span {
  background: none;
}

.open-menu .btn--htx span:before,
.open-menu .btn--htx span:after {
  transition-delay: 0s, 0.3s;
}

.open-menu .btn--htx span:before {
  top: 0;
  transform: rotate(45deg);
}

.open-menu .btn--htx span:after {
  bottom: 0;
  transform: rotate(-45deg);
}

.menu-wrapper {
  background-color: var(--ci-tertiary);
  z-index: 1;
  position: fixed;
  width: 0;
  height: 0;
  top: 0;
  right: 0;
  color: var(--ci-alt);
  font-size: 32px;
  border-bottom-left-radius: 100%;
  cursor: pointer;
  transition: width 0.3s, height 0.3s;
  transform-origin: 100% 0%;
}

.menu-wrapper a {
  text-decoration: none;
  color: var(--ci-alt);
}

.menu-wrapper a:hover {
  opacity: 0.5;
}

.open-menu .menu-wrapper {
  width: 504px;
  height: 504px;
  border-bottom-left-radius: 100%;
  animation: jelly 0.8s linear forwards;
}

@keyframes jelly {
  0% {
    transform: scale(0, 0);
  }
  20% {
    transform: scale(1.1, 1.1);
  }
  40% {
    transform: scale(0.95, 0.95);
  }
  60% {
    transform: scale(1.05, 1.05);
  }
  80% {
    transform: scale(1, 1);
  }
}

.menu {
  padding-top: 20%;
  padding-left: 20%;
  list-style: none;
  text-align: center;
  opacity: 0;
  line-height: 56px;
  letter-spacing: 1px;
}

.open-menu .menu {
  opacity: 1;
  transition: opacity 0.3s 0.3s;
}

.links {
  margin-top: 32px;
}

.links a {
  margin-right: 24px;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.links a:hover,
.links a:hover,
.links a:hover,
button:not(:disabled):hover {
  opacity: 0.6;
}

.icon {
  height: 64px;
  width: 64px;
}

#home,
#about .triangle,
#me,
#contact {
  background-color: var(--ci-primary);
}

#home,
#me > div,
#competencies,
#projects .project,
#projects .project .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home {
  height: 100vh;
  font-size: 100px;
}

#me,
#competencies,
#work,
#contact {
  padding: 88px 200px;
}

#about .triangle {
  height: 72px;
  position: relative;
  z-index: -1;
  clip-path: polygon(100% -10%, 100% 0, 50% 100%, 0 0, 0 -10%);
}

#me > div,
#competencies > div {
  vertical-align: middle;
}

#me > div {
  flex-direction: row;
}

#me .personal-img {
  width: 70%;
  margin-right: 80px;
}

#me .img {
  width: 100%;
  border-radius: 20px;
}

#me .info {
  width: 100%;
}

#me .title {
  font-size: 28px;
}

#competencies p {
  margin: 0;
}

#competencies h2 {
  font-size: 32px;
}

#competencies h3 {
  font-size: 24px;
}

#competencies .skill {
  background-color: var(--ci-secondary);
  margin: 0 24px 24px 0;
  padding: 10px 16px;
  display: inline-block;
  border-radius: 6px;
}

#techWrapper,
#softWrapper {
  position: relative;
  z-index: -1;
}

#techWrapper {
  margin-bottom: 64px;
}

#dividerTop,
#dividerBottom,
.divider {
  height: 72px;
  position: relative;
  z-index: -1;
}

.divider,
#work {
  background-color: var(--ci-secondary);
}

#dividerTop > div {
  clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
}

#dividerBottom {
  background-color: var(--ci-primary);
}

#dividerBottom > div {
  clip-path: polygon(0 100%, 0% 0, 100% 0, 0 100%);
}

#tabs {
  display: flex;
  justify-content: center;
}

#tabs button:last-child {
  margin-right: 0;
}

#tabs .active {
  background-color: var(--ci-primary);
  color: var(--ci-tertiary);
  opacity: 1;
}

#projects {
  margin-top: 56px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  justify-content: center;
}

#projects .project {
  background-size: cover;
  background-position: center;
  height: 296px;
  border-radius: 12px;
  text-align: center;
}

#projects .project .info {
  height: 100%;
  width: 100%;
  display: none;
  border-radius: 12px;
}

#projects .project:hover .info {
  background-color: var(--ci-bg-card);
  display: flex;
}

#projects .project p {
  margin: 8px;
}

#projects .project .name {
  font-size: 20px;
  font-weight: bold;
}

#projects .project .position {
  font-size: 14px;
}

#projects .project .more {
  margin-top: 12px;
  margin-right: 0;
  padding: 8px 12px;
  border-radius: 6px;
  color: var(--ci-alt);
  font-size: 14px;
  font-weight: 300;
}

#modal {
  background-color: var(--ci-bg-modal);
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow: auto;
}

#modal .btn-close {
  background-color: transparent;
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  position: relative;
  top: 16px;
  right: 16px;
  float: right;
}

#modal .btn-close:hover,
#modal .btn-close:focus {
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

#modal .btn-close span:before,
#modal .btn-close span:after {
  background-color: var(--ci-primary);
  height: 4px;
  width: 100%;
  position: absolute;
  display: block;
  border-radius: 8px;
  content: "";
}

#modal .btn-close span:before {
  transform: rotate(45deg);
}

#modal .btn-close span:after {
  transform: rotate(-45deg);
}

#modal .modal-content {
  background-color: var(--ci-alt);
  width: 50%;
  position: fixed;
  border-radius: 12px;
  animation: 0.5s fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#modal .modal-header {
  background-size: cover;
  background-position: center;
  height: 304px;
  border-radius: 12px 12px 0 0;
}

#modal .modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 24px;
}

#modalTitle {
  margin-bottom: 0;
}

#positions {
  display: inline-flex;
  justify-content: space-evenly;
}

#description {
  margin-top: 24px;
  padding: 0 24px;
  font-size: 14px;
}

#skills {
  margin-top: 24px;
}

#skills .skill {
  background-color: var(--ci-secondary);
  margin: 18px 18px 0 0;
  padding: 10px 16px;
  display: inline-block;
  border-radius: 6px;
  font-size: 16px;
}

#skills .skill:last-child {
  margin-right: 0;
}

#modal .modal-footer {
  margin: 18px 0;
  padding: 24px;
  display: flex;
  justify-content: center;
}

#modal .modal-footer button {
  margin-bottom: 0;
  padding: 10px 16px;
}

#modal .modal-footer button:last-child {
  margin-right: 0;
}

#contact > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

#info span {
  font-weight: bold;
}

#links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#footer {
  background-color: var(--ci-tertiary);
  height: 4rem;
  padding-left: 200px;
  display: flex;
  vertical-align: middle;
  color: var(--ci-alt);
  font-weight: 300;
}
