:root {
  --c-yellow: #ffcf24;
  --c-grey: #e6e6e6;
  --c-grey-transparent: #d1d1d1bd;
  --c-black: #1e1e1e;
  --c-black-transparent: #00000066;
  --c-white: #fcfcfc;

  --ci-primary: var(--c-yellow);
  --ci-secondary: var(--c-grey);
  --ci-tertiary: var(--c-black);
  --ci-alt: var(--c-white);
  --ci-bg-card: var(--c-grey-transparent);
  --ci-bg-modal: var(--c-black-transparent);

  --f-main: "Roboto", sans-serif;
}

body {
  background-color: var(--ci-alt);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--f-main);
  font-size: 20px;
  color: var(--ci-tertiary);
}

header {
  position: fixed;
  top: 0;
  right: 0;
  padding: 40px;
}

h2,
h3 {
  font-weight: 500;
}

button {
  background-color: var(--ci-tertiary);
  border: none;
  cursor: pointer;
}

.menu-circle {
  background-color: var(--ci-tertiary);
  z-index: 999999999;
  height: 90px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
}

.btn-menu {
  background-color: transparent;
  z-index: 999999999;
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-menu span {
  height: 6px;
  display: block;
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  background: var(--ci-alt);
  border-radius: 10px;
  transition: background 0s 0.3s;
}

.btn-menu span:before,
.btn-menu span:after {
  height: 6px;
  width: 100%;
  position: absolute;
  display: block;
  background-color: var(--ci-alt);
  border-radius: 10px;
  content: "";
}

.btn-menu span:before {
  top: -14px;
}

.btn-menu span:after {
  bottom: -14px;
}

.btn--htx {
  background-color: transparent;
}

.btn--htx span {
  transition: background 0s 0.3s;
}

.btn--htx span:before,
.btn--htx span:after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.btn--htx span:before {
  transition-property: top, transform;
}

.btn--htx span:after {
  transition-property: bottom, transform;
}

.open-menu .btn--htx span {
  background: none;
}

.open-menu .btn--htx span:before,
.open-menu .btn--htx span:after {
  transition-delay: 0s, 0.3s;
}

.open-menu .btn--htx span:before {
  top: 0;
  transform: rotate(45deg);
}

.open-menu .btn--htx span:after {
  bottom: 0;
  transform: rotate(-45deg);
}

.menu-wrapper {
  background-color: var(--ci-tertiary);
  z-index: 1;
  position: fixed;
  width: 0;
  height: 0;
  top: 0;
  right: 0;
  color: var(--ci-alt);
  font-size: 32px;
  border-bottom-left-radius: 100%;
  cursor: pointer;
  transition: width 0.3s, height 0.3s;
  transform-origin: 100% 0%;
}

.menu-wrapper a {
  text-decoration: none;
  color: var(--ci-alt);
}

.menu-wrapper a:hover {
  opacity: 0.5;
}

.open-menu .menu-wrapper {
  width: 500px;
  height: 500px;
  border-bottom-left-radius: 100%;
  animation: jelly 0.8s linear forwards;
}

@keyframes jelly {
  0% {
    transform: scale(0, 0);
  }
  20% {
    transform: scale(1.1, 1.1);
  }
  40% {
    transform: scale(0.95, 0.95);
  }
  60% {
    transform: scale(1.05, 1.05);
  }
  80% {
    transform: scale(1, 1);
  }
}

.menu {
  padding-top: 100px;
  padding-left: 20%;
  list-style: none;
  text-align: center;
  opacity: 0;
  line-height: 50px;
  letter-spacing: 1px;
}

.open-menu .menu {
  opacity: 1;
  transition: opacity 0.3s 0.3s;
}

#home {
  background-color: var(--ci-primary);
  height: calc(100vh - 10rem);
  padding-top: 250px;
  font-size: 100px;
}

#home > h1 {
  text-align: center;
}

.links {
  margin-top: 30px;
}

.links a {
  margin-right: 20px;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.links a:hover,
.links a:hover,
.links a:hover,
#tabs > button:hover {
  opacity: 0.6;
}

.icon {
  height: 69px;
  width: 69px;
}

#about,
#work {
  padding-bottom: 100px;
}

#about .triangle {
  background-color: var(--ci-primary);
  height: 72px;
  position: relative;
  z-index: -1;
  clip-path: polygon(100% -10%, 100% 0, 50% 100%, 0 0, 0 -10%);
}

#me,
#competencies {
  display: flex;
  justify-content: center;
  align-items: center;
}

#me {
  background-color: var(--ci-primary);
  padding: 150px 0 100px 0;
}

#me .personal-img,
#me .info {
  vertical-align: middle;
}

#me .personal-img {
  background-color: var(--ci-secondary);
  margin-right: 80px;
}

#me .img {
  height: 212px;
  width: 489px;
}

#me .title {
  font-size: 28px;
}

#me .info {
  max-width: 580px;
}

#competencies > div {
  max-width: 60%;
  vertical-align: middle;
}

#competencies p {
  margin: 0;
}

#competencies h2 {
  font-size: 32px;
}

#competencies h3 {
  font-size: 24px;
}

#competencies .skill {
  background-color: var(--ci-secondary);
  margin: 0 30px 30px 0;
  padding: 14px 18px;
  display: inline-block;
  position: relative;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
}

#techWrapper {
  margin-bottom: 60px;
  position: relative;
  z-index: -1;
}

#work {
  background-color: var(--ci-secondary);
  padding: 50px 150px;
}

#tabs {
  display: flex;
  justify-content: center;
}

#tabs button {
  margin-left: 32px;
  padding: 12px 24px;
  border-radius: 10px;
  color: var(--ci-alt);
  font-size: 24px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

#tabs .active {
  background-color: var(--ci-primary);
  color: var(--ci-tertiary);
}

#projects {
  margin-top: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  justify-content: center;
}

#projects .project {
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-align: center;
}

#projects .project .info {
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

#projects .project:hover .info {
  background-color: var(--ci-bg-card);
  display: flex;
}

#projects .project p {
  margin: 8px;
}

#projects .project .name {
  font-size: 20px;
  font-weight: bold;
}

#projects .project .position {
  font-size: 14px;
}

#projects .project .more {
  margin-top: 12px;
  padding: 8px 12px;
  border-radius: 5px;
  color: var(--ci-alt);
  font-size: 14px;
  font-weight: 300;
}

#modal {
  background-color: var(--ci-bg-modal);
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow: auto;
}

#modal .close {
  margin: 2px 12px;
  color: var(--ci-primary);
  float: right;
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
}

#modal .close:hover,
#modal .close:focus {
  text-decoration: none;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

#modal .modal-content {
  background-color: var(--ci-alt);
  width: 50%;
  position: fixed;
  border-radius: 10px;
  animation: 0.8s fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#modal .modal-header {
  background-size: cover;
  background-position: center;
  height: 250px;
  border-radius: 10px 10px 0 0;
}

#modal .modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#modal #modalTitle {
  margin-bottom: 0;
}

#modal #skills {
  margin: 20px 0;
  padding: 10px 18px;
}

#modal .skill {
  background-color: var(--ci-tertiary);
  margin: 18px 18px 0 0;
  padding: 10px 16px;
  display: inline-block;
  color: var(--ci-alt);
  border-radius: 6px;
}

#modal .skill:last-child {
  margin-right: 0;
}

#contact {
  background-color: var(--ci-primary);
  padding: 50px 150px;
}

#contact > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#info span {
  font-weight: bold;
}

#links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: var(--ci-tertiary);
  height: 4rem;
  display: flex;
  padding-left: 150px;
  vertical-align: middle;
  color: var(--ci-alt);
  font-weight: 300;
}
