/* menu button */
.menu-circle {
  background-color: var(--ci-tertiary);
  z-index: 999999999;
  height: 90px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 32px;
  cursor: pointer;
}

.btn-menu {
  background-color: transparent;
  z-index: 999999999;
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-menu span {
  height: 6px;
  display: block;
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  background: var(--c-white);
  border-radius: 10px;
  transition: background 0s 0.3s;
}

.btn-menu span:before,
.btn-menu span:after {
  height: 6px;
  width: 100%;
  position: absolute;
  display: block;
  left: 0;
  background-color: var(--c-white);
  border-radius: 10px;
  content: "";
}

.btn-menu span:before {
  top: -14px;
}

.btn-menu span:after {
  bottom: -14px;
}

.btn--htx {
  background-color: transparent;
}

.btn--htx span {
  transition: background 0s 0.3s;
}

.btn--htx span:before,
.btn--htx span:after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.btn--htx span:before {
  transition-property: top, transform;
}

.btn--htx span:after {
  transition-property: bottom, transform;
}

.open-menu .btn--htx span {
  background: none;
}

.open-menu .btn--htx span:before,
.open-menu .btn--htx span:after {
  transition-delay: 0s, 0.3s;
}

.open-menu .btn--htx span:before {
  top: 0;
  transform: rotate(45deg);
}

.open-menu .btn--htx span:after {
  bottom: 0;
  transform: rotate(-45deg);
}

/* menu options */
.menu-wrapper {
  background-color: var(--ci-tertiary);
  z-index: 1;
  position: fixed;
  width: 0;
  height: 0;
  top: 0;
  right: 0;
  color: var(--c-white);
  font-size: 32px;
  border-bottom-left-radius: 100%;
  cursor: pointer;
  transition: width 0.3s, height 0.3s;
  transform-origin: 100% 0%;
}

.menu-wrapper a {
  text-decoration: none;
  color: var(--c-white)
}

.menu-wrapper a:hover {
  opacity: 0.5;
}

.open-menu .menu-wrapper {
  width: 500px;
  height: 500px;
  border-bottom-left-radius: 100%;
  animation: jelly 0.8s linear forwards;
}

@keyframes jelly {
  0% {
    transform: scale(0, 0);
  }
  20% {
    transform: scale(1.1, 1.1);
  }
  40% {
    transform: scale(0.95, 0.95);
  }
  60% {
    transform: scale(1.05, 1.05);
  }
  80% {
    transform: scale(1, 1);
  }
}

.menu {
  padding-top: 100px;
  list-style: none;
  text-align: center;
  opacity: 0;
  line-height: 50px;
  letter-spacing: 1px;
  padding-top: 100px;
  padding-left: 20%;
}

.open-menu .menu {
  opacity: 1;
  transition: opacity 0.3s 0.3s;
}