@media only screen and (max-width: 425px) {
  body {
    font-size: 12px;
  }

  header {
    padding: 20px;
  }

  .menu-circle {
    height: 72px;
    width: 72px;
  }

  .menu-wrapper {
    font-size: 20px;
  }

  .open-menu .menu-wrapper {
    width: 332px;
    height: 332px;
  }

  .menu {
    padding-top: 64px;
  }

  #home {
    padding-top: 372px;
    font-size: 32px;
  }

  .links {
    margin-top: 30px;
  }

  .links a {
    margin-right: 20px;
  }

  .icon {
    height: 46px;
    width: 46px;
  }

  #about,
  #work {
    padding-bottom: 48px;
  }

  #about .triangle {
    height: 14px;
  }

  #me {
    padding: 42px 32px;
  }

  #me .title {
    font-size: 24px;
  }

  #competencies > div {
    max-width: 100%;
    padding: 0 32px;
  }

  #competencies h2 {
    font-size: 24px;
  }

  #competencies h3 {
    font-size: 18px;
  }

  #competencies .skill {
    margin: 0 18px 18px 0;
    padding: 10px 12px;
    border-radius: 6px;
    font-size: 16px;
  }

  #contact {
    padding: 32px;
  }

  #contact > div {
    grid-template-columns: 1fr;
  }

  .footer {
    padding-left: 32px;
  }
}
