@media only screen and (max-width: 450px) {
  header {
    padding: 20px;
  }

  button {
    margin-right: 0;
    margin-bottom: 16px;
  }

  .menu-circle {
    height: 64px;
    width: 64px;
  }

  .btn-menu {
    width: 28px;
    height: 28px;
  }

  .btn-menu span:before {
    top: -10px;
  }

  .btn-menu span:after {
    bottom: -10px;
  }

  .menu-wrapper {
    font-size: 20px;
  }

  .open-menu .menu-wrapper {
    width: 320px;
    height: 320px;
  }

  .menu {
    line-height: 32px;
  }

  .icon {
    height: 48px;
    width: 48px;
  }

  #home {
    font-size: 32px;
  }

  #me,
  #competencies,
  #work,
  #contact {
    padding: 56px 32px;
  }

  #about .triangle {
    height: 24px;
  }

  #me .personal-img {
    margin-bottom: 16px;
  }

  #dividerTop,
  #dividerBottom,
  .divider {
    height: 32px;
  }

  #tabs {
    flex-direction: column;
  }

  #projects .project .name {
    font-size: 20px;
  }

  #positions {
    display: flex;
    flex-direction: column;
  }

  #positions p:first-child {
    margin-top: 12px;
    margin-bottom: 0;
  }

  #positions p {
    margin-top: 8px;
    margin-bottom: 0;
  }

  #modal #skills {
    margin: 16px 0;
    padding: 8px 14px;
  }

  #modal .skill {
    margin: 10px 10px 0 0;
    padding: 8px 10px;
  }

  #contact > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
  }

  #links {
    justify-content: flex-start;
  }

  #links .links {
    margin-top: 0;
  }

  #footer {
    padding-left: 32px;
  }
}
