@media only screen and (max-width: 1024px) {
  body {
    font-size: 14px;
  }

  header {
    padding: 30px;
  }

  /* menu button */
  .menu-circle {
    height: 80px;
    width: 80px;
  }

  .btn-menu {
    width: 32px;
    height: 32px;
  }

  .btn-menu span {
    height: 4px;
    border-radius: 10px;
  }

  .btn-menu span:before,
  .btn-menu span:after {
    height: 4px;
  }

  .btn-menu span:before {
    top: -12px;
  }

  .btn-menu span:after {
    bottom: -12px;
  }

  /* menu options */
  .menu-wrapper {
    font-size: 24px;
  }

  .open-menu .menu-wrapper {
    width: 380px;
    height: 380px;
  }

  .menu {
    padding-top: 88px;
    padding-left: 16%;
    line-height: 40px;
  }

  #home {
    padding-top: 212px;
    font-size: 70px;
  }

  .links {
    margin-top: 30px;
  }

  .links a {
    margin-right: 20px;
    text-decoration: none;
  }

  .icon {
    height: 58px;
    width: 58px;
  }

  #about {
    padding-bottom: 72px;
  }

  #about .triangle {
    height: 24px;
  }

  #me {
    display: grid;
    justify-content: center;
    padding: 80px 0;
  }

  #me .personal-img {
    margin-right: 0;
  }

  #me .img {
    width: 100%;
  }

  #me .title {
    font-size: 24px;
  }

  #competencies > div {
    max-width: 80%;
  }

  #competencies h2 {
    font-size: 32px;
  }

  #competencies h3 {
    font-size: 24px;
  }

  #competencies .skill {
    margin: 0 22px 22px 0;
    padding: 10px 12px;
    border-radius: 8px;
    font-size: 14px;
  }
}
